.logo {
  max-width: 270px;
  margin: 20px auto;

  span {
    color: #555;
    font-size: 30px;

    &:first-of-type {
      letter-spacing: -4px;
      font-weight: 700;
      font-size: 40px;
    }

    &:last-of-type {
      position: relative;
      display: inline-block;
      margin: 0 0 0 4px;

      &::after {
        content: '';
        display: block;
        border-bottom: 3px solid #29ce2d;
        bottom: 0;
        position: absolute;
        left: 2px;
        right: 0;
      }
    }
  }
}
