.nav-bar {
  @media(min-width: 500px) {
    display: flex;
    justify-content: center;
  }

  &__list {
    padding: 8px 0;
    margin: 20px 0 30px;
    border-radius: 10px;
    background-color: #f1f1f1;

    @media(min-width: 500px) {
      border-radius: 50px;
      display: inline-flex;
    }
  }

  &__item {
    list-style: none;
    margin: 0 10px;
  }

  &__link {
    display: inline-block;
    padding: 8px 26px;
    color: #666;
    text-decoration: none;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 50px;
    font-size: 18px;
    line-height: 1;
    width: 100%;
    margin: 5px 0;
    text-align: center;

    @media(min-width: 500px) {
      width: auto;
      margin: 0;
    }

    &:hover {
      color: #222;
      background-color: #ddd;
    }
  }

  &-logout {
    cursor: pointer;

    &:hover {
      color: #fff;
      background-color: #ca4e4e;
      border-color: transparent;
    }
  }
}
